<div class="sda-chart__container">
    <div ng-repeat="chart in reportConfigs.charts track by chart.id"
         sda-chart
         class="sda-chart__chart"
         ng-class="{
            'sda-chart__chart--multi-chart': !!reportConfigs.multiChart && reportConfigs.charts.length > 1,
            'sda-chart__chart--full-height': !!chart.fullHeight && chart.type !== 'table',
            'sda-chart__chart--margin-bottom': !!reportConfigs.marginBottom
         }"
         data-config="chart"
         id="{{chart.id}}"
    >
    </div>
</div>
