<div ng-if="config.type === 'table'" class="sd-chart__table sd-shadow--z2">
    <div class="sd-chart__table-header">
        <div class="sd-chart__table-header-title" ng-if="config.title">
            <span>{{config.title | translate}}</span>
        </div>
        <div class="sd-chart__table-header-subtitle" ng-if="config.subtitle">
            <span>{{config.subtitle | translate}}</span>
        </div>

        <div class="dropdown dropdown--allign-right sd-chart__table-header-options" dropdown ng-if="config.rows.length > 0">
            <button
                    class="dropdown__toggle dropdown-toggle icn-btn pull-right"
                    dropdown__toggle
            >
              <i class="icon-collapse icon--gray"></i>
            </button>
            <ul class="dropdown__menu">
                <li>
                    <div class="dropdown__menu-label" translate>Export Chart As...</div>
                </li>
                <li class="dropdown__menu-divider"></li>
                <li><button ng-click="downloadAsCSV()" translate>CSV File</button></li>
            </ul>
        </div>
    </div>
    <div class="sd-chart__table-content" ng-if="config.rows.length > 0">
        <table>
            <thead>
                <tr ng-if="config.top_headers">
                    <th ng-repeat="header in config.top_headers track by $index" colspan="{{header.colspan || 1}}" rowspan="{{header.rowspan || 1}}">{{header.text}}</th>
                </tr>
                <tr>
                    <th ng-repeat="header in config.headers track by $index">{{header}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in config.rows">
                    <td ng-repeat="val in row track by $index" ng-bind-html="getHtml(val)">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div ng-show="config.type !== 'table'" class="sd-chart__highchart sd-shadow--z2"></div>
