@import '~highcharts/css/highcharts.scss';
@import '~superdesk-ui-framework/app/styles/_reboot.scss';
@import '~superdesk-ui-framework/app/styles/variables/_colors.scss';

.sd-chart__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
}

.sd-chart__chart {
    width: 100%;

    &--full-height {
        height: 100%;
    }

    &--margin-bottom {
        margin-bottom: 3rem;
    }

    &--multi-chart {
        width: 50%;
        height: 85%;
    }

    .sd-chart__highchart {
        width: 100%;
        height: 100%;
    }
}

.sd-chart__table {
    display: block;
    background-color: white;

    .sd-chart__table-header {
        text-align: center;
        padding: 1rem 0 2rem 0;

        position: sticky;
        top: 0;
        background-color: $white;
    }

    .sd-chart__table-header-options {
        position: absolute !important;
        right: 1rem;
        top: 1rem;
    }

    .sd-chart__table-content {
        display: block;

        th {
            text-transform: uppercase;
            position: sticky;
            background-color: $white;
        }

        thead {
            tr:first-child {
                th {
                    top: 58px;
                }
            }

            tr:nth-child(2) {
                th {
                    top: 102px;
                }
            }
        }

        tr:nth-child(odd) {
            background-color: $grayLighter;
        }

        tr:hover {
            background-color: #cee6fa;
        }
    }
}

.highcharts-container {
    font-family: $baseFontFamily;
    font-size: $baseFontSize;
    line-height: $baseLineHeight;
}

.highcharts-background {
    fill: $white;
}

.highcharts-plot-background {
    fill: none;
}

.highcharts-plot-border {
    border-width: 0;
}

.highcharts-title, .sd-chart__table-header-title {
    text-transform: uppercase;
    font-size: 2.0rem;
    letter-spacing: 0.04em;
    color: $grayDark;
}

.sd-chart__table-header-title {
    margin-bottom: 1rem;
}

.highcharts-subtitle, .sd-chart__table-header-subtitle {
    font-size: 1.4rem;
    letter-spacing: 0.04em;
    color: $gray;
    fill: $gray;
}

.highcharts-legend-item text {
    font-weight: normal;
}

.highcharts-axis-title, .highcharts-axis-labels {
    font-size: 1.4rem;
    letter-spacing: 0.04rem;
}

.highcharts-contextbutton {
    fill: none;
}

.highcharts-stack-labels text {
    font-weight: 100;
}

.highcharts-legend-item text {
    font-weight: 100;
    fill: $gray;

    &:hover {
        font-weight: 400;
        fill: $grayDark;
    }
}

.highcharts-data-label text {
    font-weight: 100;
    fill: $gray;
}

.highcharts-pie-series .highcharts-point {
    cursor: pointer;
}
