nose
nose-timer
pep8
flake8
flake8-docstrings
wooper
requests
requests-mock
coverage==4.3.4
coveralls
httmock==1.4.0
responses
pytest
pytest-env

-e git+https://github.com/superdesk/superdesk-core.git@v2.5.2#egg=Superdesk-Core
-e git+https://github.com/superdesk/superdesk-planning.git@v2.5.1#egg=superdesk-planning
