nose
nose-timer
pep8
flake8
flake8-docstrings
wooper
requests
requests-mock
git+git://github.com/superdesk/superdesk-core.git@master#egg=Superdesk-Core
git+git://github.com/superdesk/superdesk-planning.git@master#egg=superdesk-planning
