<div ng-controller="ContentQuotaWidgetSettingsController"  class="widget-config content-quota-widget">

<div class="modal-header">
    <a href="" class="close" ng-click="cancel()"><i class="icon-close-small"></i></a>
    <h3 translate>Content Quota Widget Settings</span></h3>
</div>

<div class="modal-body content-quota-settings">
    <form name="contentQuotaReportForm">

          <div class="field">
                    <label for="start_time" translate>From</label>
                    <div sd-datepicker ng-model="widget.start_time"
                         id="start_time" required></div>
                </div>

          <div class="field">
                <label for="intervals-number" translate>No of intervals</label>
                <select id="intervals-number" ng-model="widget.intervals_number"
                    ng-options="intervals_number for intervals_number in [1,2,3,4,5,6,7]">
                </select>
            </div>
            <div class="field">
                <label for="interval-length" translate>Length of the interval</label>
                <select id="interval-length" ng-model="widget.interval_length"
                    ng-options="interval_length for interval_length in [1,2,3,4,5,6,7]">
                </select>
            </div>
            <div class="field">
                <label for="target" translate>Target Quota</label>
                <input type="integer" id="target" ng-model="widget.target">
            </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn--primary" ng-click="save()" ng-disabled="!contentQuotaReportForm.$valid" translate>Done</button>
</div>
