<div ng-controller="ContentQuotaWidgetSettingsController as cqsc" ng-init="cqsc.setWidget(widget)" class="widget-config content-quota-widget">

<div class="modal__header">
    <a href="" class="close" ng-click="cancel()"><i class="icon-close-small"></i></a>
    <h3 translate>Content Quota Widget Settings</span></h3>
</div>

<div class="modal__body content-quota-settings">
    <div sd-content-quota-report-form data-form="form" report="widget.configuration"></div>
</div>

<div class="modal__footer">
    <button class="btn btn--primary" ng-click="save()" ng-disabled="!form.$valid" translate>Done</button>
</div>
