<div class="form__row form__row--no-padding" ng-if="filters.length > 1">
    <div class="sd-line-input sd-line-input--is-select">
        <label class="sd-line-input__label" translate>Date Filter:</label>
        <select class="sd-line-input__select"
                ng-model="params.dates.filter"
                ng-change="onFilterChange()"
        >
            <optgroup label="Absolute:" ng-if="groupEnabled.absolute">
                <option value="range" ng-if="enabled.range" translate>Range</option>
                <option value="day" ng-if="enabled.day" translate>Single Day</option>
            </optgroup>
            <optgroup label="Hours" ng-if="groupEnabled.hours">
                <option value="relative_hours" ng-if="enabled.relative_hours" translate>Relative Hours</option>
            </optgroup>
            <optgroup label="Days" ng-if="groupEnabled.days">
                <option value="relative_days" ng-if="enabled.relative_days" translate>Relative Days</option>
                <option value="yesterday" ng-if="enabled.yesterday" translate>Yesterday</option>
                <option value="today" ng-if="enabled.today" translate>Today</option>
            </optgroup>
            <optgroup label="Weeks" ng-if="groupEnabled.weeks">
                <option value="relative_weeks" ng-if="enabled.relative_weeks" translate>Relative Weeks</option>
                <option value="last_week" ng-if="enabled.last_week" translate>Last Week</option>
                <option value="this_week" ng-if="enabled.this_week" translate>This Week</option>
            </optgroup>
            <optgroup label="Months" ng-if="groupEnabled.months">
                <option value="relative_months" ng-if="enabled.relative_months" translate>Relative Months</option>
                <option value="last_month" ng-if="enabled.last_month" translate>Last Month</option>
                <option value="this_month" ng-if="enabled.this_month" translate>This Month</option>
            </optgroup>
            <optgroup label="Year" ng-if="groupEnabled.year">
                <option value="last_year" ng-if="enabled.last_year" translate>Last Year</option>
                <option value="this_year" ng-if="enabled.this_year" translate>This Year</option>
            </optgroup>
        </select>
    </div>
</div>

<div class="form__row form__row--flex"
     ng-if="params.dates.filter === 'range'"
     ng-class="{'form__row--no-padding': form.showErrors}"
>
    <div class="form__row-item">
        <label class="form-label" translate>From</label>
        <div sd-datepicker
             ng-model="params.dates.start"
             data-on-change="onDatesChange()"
        ></div>
    </div>
    <div class="form__row-item">
        <label class="form-label" translate>To</label>
        <div sd-datepicker
             ng-model="params.dates.end"
             data-on-change="onDatesChange()"
        ></div>
    </div>
</div>

<div ng-if="params.dates.filter === 'day'"
     class="form__row"
     ng-class="{'form__row--no-padding': form.showErrors}"
>
    <label class="form-label" translate>Date</label>
    <div sd-datepicker
         ng-model="params.dates.date"
         data-on-change="onDatesChange()"
    ></div>
</div>

<div ng-if="choices !== null"
     class="form__row"
     ng-class="{'form__row--no-padding': form.showErrors}"
>
    <div class="sd-line-input sd-line-input--is-select"
         ng-class="{'sd-line-input--invalid': form.showErrors}"
    >
        <label class="sd-line-input__label" translate>Last</label>
        <select class="sd-line-input__select"
                ng-model="params.dates.relative"
        >
            <option ng-repeat="n in choices track by $index+1"
                    value="{{$index+1}}"
            >{{n | translate}}</option>
        </select>
    </div>
</div>

<div ng-if="form.showErrors"
     class="sd-line-input sd-line-input--invalid sd-line-input--no-label"
>
    <div class="sd-line-input__message">
        {{form.datesError | translate}}
    </div>
</div>
