<div class="form__row">
    <div class="sd-line-input sd-line-input--no-margin">
        <label class="sd-line-input__label" translate>Date Filters</label>
        <div class="flex-grid flex-grid--boxed-small flex-grid--wrap-items flex-grid--small-2">
            <button sd-check
                    ng-if="enabled.yesterday"
                    data-type="radio"
                    ng-model="params.dates.filter"
                    ng-value="yesterday"
                    data-label-position="inside"
                    ng-click="onFilterChange()"
            >{{:: 'Yesterday' | translate }}</button>
            <button sd-check
                    ng-if="enabled.last_week"
                    data-type="radio"
                    ng-model="params.dates.filter"
                    ng-value="last_week"
                    data-label-position="inside"
                    ng-click="onFilterChange()"
            >{{:: 'Last Week' | translate }}</button>
            <button sd-check
                    ng-if="enabled.last_month"
                    data-type="radio"
                    ng-model="params.dates.filter"
                    ng-value="last_month"
                    data-label-position="inside"
                    ng-click="onFilterChange()"
            >{{:: 'Last Month' | translate }}</button>
            <button sd-check
                    ng-if="enabled.range"
                    data-type="radio"
                    ng-model="params.dates.filter"
                    ng-value="range"
                    data-label-position="inside"
                    ng-click="onFilterChange()"
            >{{:: 'Range' | translate }}</button>
            <button sd-check
                    ng-if="enabled.day"
                    data-type="radio"
                    ng-model="params.dates.filter"
                    ng-value="day"
                    data-label-position="inside"
                    ng-click="onFilterChange()"
            >{{:: 'Day' | translate }}</button>
            <button sd-check
                    ng-if="enabled.relative"
                    data-type="radio"
                    ng-model="params.dates.filter"
                    ng-value="relative"
                    data-label-position="inside"
                    ng-click="onFilterChange()"
            >{{:: 'Relative Hrs' | translate }}</button>
            <button sd-check
                    ng-if="enabled.relative_days"
                    data-type="radio"
                    ng-model="params.dates.filter"
                    ng-value="relative_days"
                    data-label-position="inside"
                    ng-click="onFilterChange()"
            >{{:: 'Relative Days' | translate }}</button>
        </div>
    </div>
</div>

<div class="form__row form__row--flex"
     ng-if="params.dates.filter === 'range'"
     ng-class="{'form__row--no-padding': form.submitted && form.datesError}"
>
    <div class="form__row-item">
        <label class="form-label" translate>From</label>
        <div sd-datepicker
             ng-model="params.dates.start"
             data-on-change="onDatesChange()"
        ></div>
    </div>
    <div class="form__row-item">
        <label class="form-label" translate>To</label>
        <div sd-datepicker
             ng-model="params.dates.end"
             data-on-change="onDatesChange()"
        ></div>
    </div>
</div>


<div ng-if="params.dates.filter === 'day'"
     class="form__row"
     ng-class="{'form__row--no-padding': form.submitted && form.datesError}"
>
    <label class="form-label" translate>Date</label>
    <div sd-datepicker
         ng-model="params.dates.date"
         data-on-change="onDatesChange()"
    ></div>
</div>

<div ng-if="params.dates.filter === 'relative'"
     class="form__row"
     ng-class="{'form__row--no-padding': form.submitted && form.datesError}"
>
    <div class="sd-line-input sd-line-input--is-select"
         ng-class="{'sd-line-input--invalid': form.submitted && form.datesError}"
    >
        <label class="sd-line-input__label" translate>Last</label>
        <select class="sd-line-input__select"
                ng-model="params.dates.relative"
        >
            <option ng-repeat="n in [].constructor(maxRange) track by $index+1"
                    value="{{$index+1}}"
            >{{$index+1 + ' hours' | translate}}</option>
        </select>
        <div ng-if="form.submitted && form.datesError" class="sd-line-input__message">
            {{form.datesError | translate}}
        </div>
    </div>
</div>

<div ng-if="params.dates.filter === 'relative_days'"
     class="form__row"
     ng-class="{'form__row--no-padding': form.submitted && form.datesError}"
>
    <div class="sd-line-input sd-line-input--is-select"
         ng-class="{'sd-line-input--invalid': form.submitted && form.datesError}"
    >
        <label class="sd-line-input__label" translate>Last</label>
        <select class="sd-line-input__select"
                ng-model="params.dates.relative_days"
        >
            <option ng-repeat="n in [].constructor(maxRelativeDays) track by $index+1"
                    value="{{$index+1}}"
            >{{$index+1 + ' days' | translate}}</option>
        </select>
        <div ng-if="form.submitted && form.datesError" class="sd-line-input__message">
            {{form.datesError | translate}}
        </div>
    </div>
</div>

<div ng-if="form.submitted && form.datesError && ['relative', 'relative_days'].indexOf(params.dates.filter) < 0"
     class="sd-line-input sd-line-input--invalid sd-line-input--no-label"
>
    <div class="sd-line-input__message">
        {{form.datesError | translate}}
    </div>
</div>
