<div class="form__row form__row--no-padding">
    <label class="form-label form-label--light" translate>Date Filter</label>

    <p ng-if="dateFilter === 'relative_hours'">
        <span translate>Last</span> {{hours}} <span translate>hours</span>
    </p>

    <p ng-if="dateFilter === 'yesterday'" translate>Yesterday</p>
    <p ng-if="dateFilter === 'today'" translate>Today</p>
    <p ng-if="dateFilter === 'relative_days'">
        <span translate>Last</span> {{days}} <span translate>days</span>
    </p>

    <p ng-if="dateFilter === 'last_week'" translate>Last Week</p>
    <p ng-if="dateFilter === 'this_week'" translate>This Week</p>
    <p ng-if="dateFilter === 'relative_weeks'">
        <span translate>Last</span> {{weeks}} <span translate>weeks</span>
    </p>

    <p ng-if="dateFilter === 'last_month'" translate>Last Month</p>
    <p ng-if="dateFilter === 'this_month'" translate>This Month</p>
    <p ng-if="dateFilter === 'relative_months'">
        <span translate>Last</span> {{months}} <span translate>months</span>
    </p>

    <p ng-if="dateFilter === 'last_year'" translate>Last Year</p>
    <p ng-if="dateFilter === 'this_year'" translate>This Year</p>

    <div ng-if="dateFilter === 'range'">
        <p><span translate>From:</span> {{startDate}}</p>
        <p><span translate>To:</span> {{endDate}}</p>
    </div>

    <p ng-if="dateFilter === 'day'">{{date}}</p>


</div>
