<div ng-if="!flags.ready" class="sda-report-filters__loader sd-list-item">
    <div class="sd-loader"></div>
</div>

<div ng-if="flags.ready"
     class="sda-report-filters"
     ng-class="{'sda-report-filters--padding-bottom': paddingBottom}"
>
    <toggle-box-next data-title="filters.desks.label"
                     data-style="'circle'"
                     ng-if="filters.desks.enabled"
    >
        <div class="sda-report-filters__filter">
            <div class="sda-report-filters__exclude">
                <label translate>Exclude</label>
                <span sd-switch
                      ng-model="filters.desks.exclude"
                      ng-change="onFilterChanged(filters.desks)"
                ></span>
            </div>
            <div class="form__row">
                <sd-tag-input
                        ng-model="filters.desks.selected"
                        data-field="{{filters.desks.labelField}}"
                        data-key-property="{{filters.desks.keyField}}"
                        data-items="filters.desks.items"
                        data-on-change="onFilterChanged(filters.desks)"
                        data-freetext="false"
                        data-replace-spaces-with-dashes="false"
                        data-min-length="filters.desks.minLength"
                        data-placeholder="{{filters.desks.placeholder}}"
                        data-max-results-to-show="0"
                ></sd-tag-input>
            </div>
        </div>
    </toggle-box-next>

    <toggle-box-next data-title="filters.stages.label"
                     data-style="'circle'"
                     ng-if="filters.stages.enabled"
    >
        <div class="sda-report-filters__filter">
            <div class="sda-report-filters__exclude">
                <label translate>Exclude</label>
                <span sd-switch
                      ng-model="filters.stages.exclude"
                      ng-change="onFilterChanged(filters.stages)"
                ></span>
            </div>
            <div class="form__row">
                <sd-tag-input
                        ng-model="filters.stages.selected"
                        data-field="{{filters.stages.labelField}}"
                        data-key-property="{{filters.stages.keyField}}"
                        data-items="filters.stages.items"
                        data-on-change="onFilterChanged(filters.stages)"
                        data-freetext="false"
                        data-replace-spaces-with-dashes="false"
                        data-min-length="filters.stages.minLength"
                        data-placeholder="{{filters.stages.placeholder}}"
                        data-max-results-to-show="0"
                ></sd-tag-input>
            </div>
        </div>
    </toggle-box-next>

    <toggle-box-next data-title="filters.users.label"
                     data-style="'circle'"
                     ng-if="filters.users.enabled"
    >
        <div class="sda-report-filters__filter">
            <div class="sda-report-filters__exclude">
                <label translate>Exclude</label>
                <span sd-switch
                      ng-model="filters.users.exclude"
                      ng-change="onFilterChanged(filters.users)"
                ></span>
            </div>
            <div class="form__row">
                <sd-tag-input
                        ng-model="filters.users.selected"
                        data-field="{{filters.users.labelField}}"
                        data-key-property="{{filters.users.keyField}}"
                        data-items="filters.users.items"
                        data-on-change="onFilterChanged(filters.users)"
                        data-freetext="false"
                        data-replace-spaces-with-dashes="false"
                        data-min-length="filters.users.minLength"
                        data-placeholder="{{filters.users.placeholder}}"
                        data-max-results-to-show="0"
                ></sd-tag-input>
            </div>
        </div>
    </toggle-box-next>

    <toggle-box-next data-title="filters.sources.label"
                     data-style="'circle'"
                     ng-if="filters.sources.enabled"
    >
        <div class="sda-report-filters__filter">
            <div class="sda-report-filters__exclude">
                <label translate>Exclude</label>
                <span sd-switch
                      ng-model="filters.sources.exclude"
                      ng-change="onFilterChanged(filters.sources)"
                ></span>
            </div>
            <div class="form__row">
                <sd-tag-input
                        ng-model="filters.sources.selected"
                        data-field="{{filters.sources.labelField}}"
                        data-key-property="{{filters.sources.keyField}}"
                        data-items="filters.sources.items"
                        data-on-change="onFilterChanged(filters.sources)"
                        data-freetext="false"
                        data-replace-spaces-with-dashes="false"
                        data-min-length="filters.sources.minLength"
                        data-placeholder="{{filters.sources.placeholder}}"
                        data-max-results-to-show="0"
                ></sd-tag-input>
            </div>
        </div>
    </toggle-box-next>

    <toggle-box-next data-title="filters.ingest_providers.label"
                     data-style="'circle'"
                     ng-if="filters.ingest_providers.enabled"
    >
        <div class="sda-report-filters__filter">
            <div class="sda-report-filters__exclude">
                <label translate>Exclude</label>
                <span sd-switch
                      ng-model="filters.ingest_providers.exclude"
                      ng-change="onFilterChanged(filters.ingest_providers)"
                ></span>
            </div>
            <div class="form__row">
                <sd-tag-input
                        ng-model="filters.ingest_providers.selected"
                        data-field="{{filters.ingest_providers.labelField}}"
                        data-key-property="{{filters.ingest_providers.keyField}}"
                        data-items="filters.ingest_providers.items"
                        data-on-change="onFilterChanged(filters.ingest_providers)"
                        data-freetext="false"
                        data-replace-spaces-with-dashes="false"
                        data-min-length="filters.ingest_providers.minLength"
                        data-placeholder="{{filters.ingest_providers.placeholder}}"
                        data-max-results-to-show="0"
                ></sd-tag-input>
            </div>
        </div>
    </toggle-box-next>

    <toggle-box-next data-title="filters.categories.label"
                     data-style="'circle'"
                     ng-if="filters.categories.enabled"
    >
        <div class="sda-report-filters__filter">
            <div class="sda-report-filters__exclude">
                <label translate>Exclude</label>
                <span sd-switch
                      ng-model="filters.categories.exclude"
                      ng-change="onFilterChanged(filters.categories)"
                ></span>
            </div>
            <div class="form__row">
                <sd-tag-input
                        ng-model="filters.categories.selected"
                        data-field="{{filters.categories.labelField}}"
                        data-key-property="{{filters.categories.keyField}}"
                        data-items="filters.categories.items"
                        data-on-change="onFilterChanged(filters.categories)"
                        data-freetext="false"
                        data-replace-spaces-with-dashes="false"
                        data-min-length="filters.categories.minLength"
                        data-placeholder="{{filters.categories.placeholder}}"
                        data-max-results-to-show="0"
                ></sd-tag-input>
            </div>
        </div>
    </toggle-box-next>

    <toggle-box-next data-title="filters.genre.label"
                     data-style="'circle'"
                     ng-if="filters.genre.enabled"
    >
        <div class="sda-report-filters__filter">
            <div class="sda-report-filters__exclude">
                <label translate>Exclude</label>
                <span sd-switch
                      ng-model="filters.genre.exclude"
                      ng-change="onFilterChanged(filters.genre)"
                ></span>
            </div>
            <div class="form__row">
                <sd-tag-input
                        ng-model="filters.genre.selected"
                        data-field="{{filters.genre.labelField}}"
                        data-key-property="{{filters.genre.keyField}}"
                        data-items="filters.genre.items"
                        data-on-change="onFilterChanged(filters.genre)"
                        data-freetext="false"
                        data-replace-spaces-with-dashes="false"
                        data-min-length="filters.genre.minLength"
                        data-placeholder="{{filters.genre.placeholder}}"
                        data-max-results-to-show="0"
                ></sd-tag-input>
            </div>
        </div>
    </toggle-box-next>

    <toggle-box-next data-title="filters.urgency.label"
                     data-style="'circle'"
                     ng-if="filters.urgency.enabled"
    >
        <div class="sda-report-filters__filter">
            <div class="sda-report-filters__exclude">
                <label translate>Exclude</label>
                <span sd-switch
                      ng-model="filters.urgency.exclude"
                      ng-change="onFilterChanged(filters.urgency)"
                ></span>
            </div>
            <div class="form__row">
                <sd-tag-input
                        ng-model="filters.urgency.selected"
                        data-field="{{filters.urgency.labelField}}"
                        data-key-property="{{filters.urgency.keyField}}"
                        data-items="filters.urgency.items"
                        data-on-change="onFilterChanged(filters.urgency)"
                        data-freetext="false"
                        data-replace-spaces-with-dashes="false"
                        data-min-length="filters.urgency.minLength"
                        data-placeholder="{{filters.urgency.placeholder}}"
                        data-max-results-to-show="0"
                ></sd-tag-input>
            </div>
        </div>
    </toggle-box-next>

    <toggle-box-next data-title="filters.states.label"
                     data-style="'circle'"
                     ng-if="filters.states.enabled"
    >
        <div class="sda-report-filters__filter">
            <div class="sda-report-filters__exclude">
                <label translate>Exclude</label>
                <span sd-switch
                      ng-model="filters.states.exclude"
                      ng-change="onFilterChanged(filters.states)"
                ></span>
            </div>
            <div class="form__row">
                <sd-tag-input
                        ng-model="filters.states.selected"
                        data-field="{{filters.states.labelField}}"
                        data-key-property="{{filters.states.keyField}}"
                        data-items="filters.states.items"
                        data-on-change="onFilterChanged(filters.states)"
                        data-freetext="false"
                        data-replace-spaces-with-dashes="false"
                        data-min-length="filters.states.minLength"
                        data-placeholder="{{filters.states.placeholder}}"
                        data-max-results-to-show="0"
                ></sd-tag-input>
            </div>

            <div class="form__row">
                <div class="sd-line-input sd-line-input--is-select">
                    <label class="sd-line-input__label" translate>Rewrites</label>
                    <select class="sd-line-input__select"
                            ng-model="params.rewrites"
                    >
                        <option value="include" translate>Include Rewrites</option>
                        <option value="exclude" translate>Exclude Rewrites</option>
                        <option value="only" translate>Rewrites Only</option>
                    </select>
                </div>
            </div>
        </div>
    </toggle-box-next>

    <toggle-box-next data-title="filters.stats_desk_transition_enter.label"
                     data-style="'circle'"
                     ng-if="filters.stats_desk_transition_enter.enabled"
    >
        <div class="sda-report-filters__filter">
            <div class="sda-report-filters__exclude">
                <label translate>Exclude</label>
                <span sd-switch
                      ng-model="filters.stats_desk_transition_enter.exclude"
                      ng-change="onFilterChanged(filters.stats_desk_transition_enter)"
                ></span>
            </div>
            <div class="form__row">
                <sd-tag-input
                        ng-model="filters.stats_desk_transition_enter.selected"
                        data-field="{{filters.stats_desk_transition_enter.labelField}}"
                        data-key-property="{{filters.stats_desk_transition_enter.keyField}}"
                        data-items="filters.stats_desk_transition_enter.items"
                        data-on-change="onFilterChanged(filters.stats_desk_transition_enter)"
                        data-freetext="false"
                        data-replace-spaces-with-dashes="false"
                        data-min-length="filters.stats_desk_transition_enter.minLength"
                        data-placeholder="{{filters.stats_desk_transition_enter.placeholder}}"
                        data-max-results-to-show="0"
                ></sd-tag-input>
            </div>
        </div>
    </toggle-box-next>

    <toggle-box-next data-title="filters.stats_desk_transition_exit.label"
                     data-style="'circle'"
                     ng-if="filters.stats_desk_transition_exit.enabled"
    >
        <div class="sda-report-filters__filter">
            <div class="sda-report-filters__exclude">
                <label translate>Exclude</label>
                <span sd-switch
                      ng-model="filters.stats_desk_transition_exit.exclude"
                      ng-change="onFilterChanged(filters.stats_desk_transition_exit)"
                ></span>
            </div>
            <div class="form__row">
                <sd-tag-input
                        ng-model="filters.stats_desk_transition_exit.selected"
                        data-field="{{filters.stats_desk_transition_exit.labelField}}"
                        data-key-property="{{filters.stats_desk_transition_exit.keyField}}"
                        data-items="filters.stats_desk_transition_exit.items"
                        data-on-change="onFilterChanged(filters.stats_desk_transition_exit)"
                        data-freetext="false"
                        data-replace-spaces-with-dashes="false"
                        data-min-length="filters.stats_desk_transition_exit.minLength"
                        data-placeholder="{{filters.stats_desk_transition_exit.placeholder}}"
                        data-max-results-to-show="0"
                ></sd-tag-input>
            </div>
        </div>
    </toggle-box-next>

    <toggle-box-next data-title="filters.publish_pars.label"
                     data-style="'circle'"
                     ng-if="filters.publish_pars.enabled"
    >
        <div class="form__row">
            <div class="sd-line-input">
                <label class="sd-line-input__label">{{:: filters.publish_pars.label | translate}}</label>
                <input type="number"
                       class="sd-line-input__input"
                       ng-model="params.must.publish_pars"
                >
            </div>
        </div>
    </toggle-box-next>
</div>
