<div sda-analytics-container class="sd-page-grid--basic sd-analytics">
    <div class="sd-content sd-page-content--slide-in sd-content--margin-b30">
        <div class="sd-page-content__content-block sd-page-content__content-block--main"
             ng-class="{'open-filters': flags.showSidePanel}"
        >
            <div class="subnav">
                <button class="navbtn navbtn--left navbtn--darker"
                        ng-click="toggleSidePanel()"
                        ng-class="{'navbtn--active': flags.showSidePanel}"
                        ng-if="currentReport.id && currentReport.sidePanelTemplate"
                >
                    <i class="icon-filter-large"></i>
                </button>
                <div sda-report-dropdown
                     class="subnav__button-stack subnav__button-stack--padded"
                >
                </div>
                <div class="subnav__button-stack" ng-if="currentReport.allowScheduling && showSchedules">
                    <span sd-check
                          type="radio"
                          ng-model="flags.contentView"
                          ng-value="report"
                          label-position="inside"
                    >
                        Report
                    </span>
                    <span sd-check
                          type="radio"
                          ng-model="flags.contentView"
                          ng-value="schedules"
                          label-position="inside"
                    >
                        Schedules
                    </span>
                </div>
                <div class="subnav__stretch-bar subnav__stretch-bar--right">
                    <button class="btn btn--primary"
                            ng-click="openCreateScheduleModal()"
                            ng-if="currentReport.allowScheduling && flags.contentView === 'schedules'"
                    >
                        <i class="icon-plus-sign icon--white"></i>
                        Add New
                    </button>
                    <sd-highcharts-license></sd-highcharts-license>
                </div>
            </div>

            <div class="sd-column-box--3"
                 ng-class="{'open-preview': preview.item}"
                 ng-if="currentReport.id"
            >
                <div class="sd-filters-panel"
                     ng-include="currentReport.sidePanelTemplate"
                ></div>

                <div class="sd-column-box__main-column sd-column-box__main-column__listpanel sd-column-box__main-column--60">
                    <!-- Report View -->
                    <div class="sd-column-box__main-column__items"
                         ng-if="flags.contentView == 'report' && !currentReport.reportTemplate"
                         ng-include="'analytics-report-basic.html'"
                     ></div>

                    <!-- Custom Report View -->
                    <div class="sd-column-box__main-column__items"
                         ng-if="flags.contentView == 'report' && currentReport.reportTemplate"
                         ng-include="currentReport.reportTemplate"
                     ></div>

                    <!-- Schedule View -->
                    <div sda-scheduled-reports-list
                         class="sd-column-box__main-column__items"
                         ng-if="currentReport.allowScheduling && flags.contentView == 'schedules'"
                         data-current-report="currentReport"
                         data-current-saved-report="savedReportForSchedule"
                         data-clear-saved-report="clearSavedReportForSchedule"
                         style="display: flex; flex-direction: column;"
                    ></div>
                </div>

                <div class="sd-preview-panel" ng-show="flags.contentView === 'report'">
                    <div class="side-panel side-panel--shadow-right preview-layout">
                        <div sda-archive-preview-proxy
                             data-preview="preview"
                             data-close="closePreview"
                        ></div>
                    </div>
                </div>
            </div>
        </div>

        <div sda-email-report-modal
             ng-if="emailModal.open"
        ></div>
    </div>
</div>
