<div sd-analytics-container class="sd-page-grid--basic sd-analytics">
    <div class="sd-content sd-page-content--slide-in sd-content--margin-b30">
        <div class="sd-page-content__content-block sd-page-content__content-block--main"
             ng-class="{'open-filters': flags.showSidePanel}"
        >
            <div class="subnav">
                <button class="navbtn navbtn--left navbtn--darker"
                        ng-click="toggleSidePanel()"
                        ng-class="{'navbtn--active': flags.showSidePanel}"
                        ng-if="currentReport.id && currentReport.sidePanelTemplate"
                >
                    <i class="icon-filter-large"></i>
                </button>
                <div sd-report-dropdown
                     class="subnav__button-stack subnav__button-stack--padded"
                >
                </div>
                <div class="subnav__button-stack" ng-if="currentReport.allowScheduling">
                    <span sd-check
                          type="radio"
                          ng-model="flags.contentView"
                          ng-value="report"
                          label-position="inside"
                    >
                        Report
                    </span>
                    <span sd-check
                          type="radio"
                          ng-model="flags.contentView"
                          ng-value="schedules"
                          label-position="inside"
                    >
                        Schedules
                    </span>
                </div>
                <div class="subnav__stretch-bar subnav__stretch-bar--right">
                    <button class="btn btn--primary"
                            ng-click="openCreateScheduleModal()"
                            ng-if="currentReport.allowScheduling && flags.contentView === 'schedules'"
                    >
                        <i class="icon-plus-sign icon--white"></i>
                        Add New
                    </button>
                </div>
            </div>

            <div class="sd-column-box--2">
                <!-- Side Panel With a Controller -->
                <div class="sd-filters-panel"
                     ng-if="currentReport.id && currentReport.controller"
                     ng-include="currentReport.sidePanelTemplate"
                     ng-controller="currentReport.controller"
                ></div>

                <!-- Side Panel Without a Controller -->
                <div class="sd-filters-panel"
                     ng-if="currentReport.id && !currentReport.controller"
                     ng-include="currentReport.sidePanelTemplate"
                ></div>

                <!-- Report/Schedule Content View -->
                <div class="sd-column-box__main-column sd-column-box__main-column__listpanel">
                    <div class="sd-column-box__main-column__items"
                         ng-if="currentReport.id && flags.contentView == 'report'"
                         ng-include="currentReport.contentTemplate || 'analytics-report-basic.html'"
                         ng-controller="currentReport.controller"
                     ></div>

                    <div sd-scheduled-reports-list
                         class="sd-column-box__main-column__items"
                         ng-if="currentReport.id && currentReport.allowScheduling && flags.contentView == 'schedules'"
                         data-current-report="currentReport"
                         data-current-saved-report="savedReportForSchedule"
                         data-clear-saved-report="clearSavedReportForSchedule"
                         style="display: flex; flex-direction: column;"
                    ></div>
                </div>
            </div>
        </div>
    </div>
</div>
