<div id="report-dropdown" class="dropdown" dropdown>
    <button class="dropdown__toggle navbtn navbtn--text-only" dropdown__toggle>
        {{currentReport.label || 'Select A Report' | translate}}
        <span class="dropdown__caret"></span>
    </button>
    <ul class="dropdown__menu">
        <li ng-repeat="report in reports" class="dropdown__menu-item" ng-class="{'dropdown__menu-item--active': report.id === currentReport.id}">
            <button ng-click="changeReport(report)">{{report.label | translate}}</button>
        </li>
    </ul>
</div>
