<div ng-controller="ProcessedItemsWidgetSettingsController as pic" ng-init="pic.setWidget(widget)">

    <div class="modal__header">
        <a href="" class="close" ng-click="cancel()"><i class="icon-close-small"></i></a>
        <h3 translate>Processed Items Widget Settings</h3>
    </div>

    <div class="modal__body processed-items-settings">
        <div sd-processed-items-report-form data-valid-form="validForm" report="widget.configuration"></div>
    </div>
    <div class="modal__footer">
        <button class="btn btn--primary" ng-click="save()"
            ng-disabled="!validForm" translate>Done</button>
    </div>
</div>