<div class="widget-container" ng-controller="ProcessedItemsWidgetController as pcc" ng-init="pcc.setWidget(widget)">
    <div class="main-list" 
        ng-class="{wrap: pcc.selected && !$root.config.features.customMonitoringWidget, 'custom-widget': $root.config.features.customMonitoringWidget}">
    </div>

    <div sd-after-render="generateChart">
    	<div ng-if="processedItemsReport">
            <div id="containerp" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
            </div>
    </div>
</div>
