<div ng-controller="ActivityWidgetSettingsController as asc" ng-init="asc.setWidget(widget)">

    <div class="modal__header">
        <a href="" class="modal__close pull-right" sd-hotkey="esc" ng-click="cancel()"><i class="icon-close-small"></i></a>
        <h3 class="modal__heading" translate>Activity Report Widget Settings</h3>
    </div>

    <div sd-activity-report-settings data-settings="widget.configuration" data-widget="true" data-step="step" />

    <div class="modal__footer">
        <button id="previousBtn" class="btn btn--hollow pull-left" ng-if="step.current !== 'operation' && !displayOnlyCurrentStep"
                ng-click="previous()" translate>Previous</button>
        <button class="btn" ng-click="cancel()" translate>Cancel</button>
        <button class="btn btn--primary" ng-click="save()" translate>Done</button>
        <button id="nextBtn" class="btn btn--hollow" ng-if="step.current !== 'optional2' && !displayOnlyCurrentStep"
                ng-click="next()" translate>Next</button>
    </div>

</div>
