<div class="widget-container" ng-controller="TrackActivityWidgetController as acc" ng-init="acc.setWidget(widget)">
    <div class="main-list" 
        ng-class="{wrap: acc.selected && !$root.config.features.customMonitoringWidget, 'custom-widget': $root.config.features.customMonitoringWidget}">
    </div>

    <div sd-after-render="generateChart">
        <div ng-if="trackActivityReport">
            <div id="container" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
        </div>
    </div>
</div>
